<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NOTAM_Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NOTAM_Browser.Properties.Settings>
            <setting name="notamFont" serializeAs="String">
                <value>Consolas, 9.75pt</value>
            </setting>
            <setting name="urlPre" serializeAs="String">
                <value>https://www.notams.faa.gov/dinsQueryWeb/queryRetrievalMapAction.do?reportType=Raw&amp;retrieveLocId=</value>
            </setting>
            <setting name="urlAft" serializeAs="String">
                <value>&amp;actionType=notamRetrievalByICAOs</value>
            </setting>
            <setting name="notamPre" serializeAs="String">
                <value>&lt;PRE&gt;</value>
            </setting>
            <setting name="notamAft" serializeAs="String">
                <value>&lt;/PRE&gt;</value>
            </setting>
        </NOTAM_Browser.Properties.Settings>
    </userSettings>
</configuration>